//juan camilo: estos views no se llaman en ningun lado incluso el apuntador del views engine va a otra carpeta y esta en ejs no jade
extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}
