//juan camilo: estos views no se llaman en ningun lado incluso el apuntador del views engine va a otra carpeta y esta en ejs no jade

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
