.ops{
    
    font-family: "Gotu", sans-serif;
    font-size: 50px;
    background-color: #09b3b3;
    color: white; 
    text-align: center;  
}

.ops2{
    
    font-family: "Gotu", sans-serif;
    font-size: 40px;

    text-align: center;  
}